:root {
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 16px;
  letter-spacing: 4px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.logo {
  padding: 8px 16px;
}

.logo > strong {
  font-weight: bold;
}

.links-group {
  font-size: 0;
  letter-spacing: 0;
}

.links-group > li {
  display: inline-block;
  padding: 8px 16px;
  font-size: 15px;
  letter-spacing: 4px;
}

header {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}

header > img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.hero-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 16px;
  transform: translate(-50%, -50%);
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 4px;
  color: white;
}

.hero-heading .outlined {
  font-weight: bold;
  padding: 8px 16px;
  background-color: black;
  opacity: 0.75;
}

.projects-section,
.about-section,
.contact-section {
  max-width: 1564px;
  padding: 8px 16px;
  margin: 0 auto;
}

.section-info-container {
  padding: 32px 16px;
}

.section-heading {
  margin: 10px 0;
  padding: 16px 0;
  border-bottom: 1px solid #f1f1f1;
  font-size: 24px;
  font-family: "Segoe UI", Arial, sans-serif;
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
  gap: 16px;
  padding: 0 16px;
}

.project-card {
  position: relative;
}

.project-image {
  width: 100%;
  height: 100%;
}

.project-image-heading {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 8px 16px;
  background-color: black;
}
