:root {
  --main-color-light: #ffffff;
  --main-color-dark: #000000;
  --sub-color-light: #f1f1f1;
  --sub-color-dark: #cccccc;
  --sub-color-medium: #4caf50;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 16px;
  letter-spacing: 4px;
  background-color: var(--main-color-light);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.logo {
  padding: 8px 16px;
  text-align: center;
}

.logo > strong {
  font-weight: bold;
}

.links-group {
  font-size: 0;
  letter-spacing: 0;
}

.links-group > li {
  display: inline-block;
  padding: 8px 16px;
  font-size: 15px;
  letter-spacing: 4px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  height: calc(
    34.08vw + 29.6vh
  ); /* Оскільки при стисканні у макеті висота зображення також зменшується, довелося зробити залежність висоти частково від ширини вьюпорта */
  margin: 0 auto;
  text-align: center;
  background-image: url("./../images/architect.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-heading {
  margin-top: 16px; /* не знаю, чи потрібен тоді цей margin, але нехай буде як в макеті */
  font-size: 36px;
  letter-spacing: 4px;
  color: var(--main-color-light);
}

h1,
h2,
h3 {
  font-family: "Segoe UI", Arial, sans-serif;
}

.hero-heading .outlined {
  padding: 8px 16px;
  font-weight: bold;
  opacity: 0.75;
  background-color: var(--main-color-dark);
}

.projects-section,
.about-section,
.contact-section {
  max-width: 1564px;
  padding: 8px 16px;
  margin: 0 auto;
}

.section-info-container {
  padding: 32px 16px;
}

.section-heading {
  margin: 10px 0;
  padding: 16px 0;
  font-size: 24px;
  border-bottom: 1px solid var(--sub-color-light);
}

.projects-section > .section-heading {
  padding: 48px 16px;
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
  gap: 16px;
  padding: 0 16px;
}

.project-card {
  position: relative;
}

.project-image {
  width: 100%;
  height: 100%;
}

.project-image-heading {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 16px;
  color: var(--main-color-light);
  background-color: var(--main-color-dark);
}

.section-info {
  margin: 15px 0;
}

.about-cards-container {
  display: grid; /* Можна було б зробити через flex, але оскільки завдання стосується грідів, то вирішив використати їх вдруге */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 16px;
  padding: 0 16px;
  filter: grayscale(75%);
  /* Не знаю, чому властивість filter: grayscale(75%); додано саме тут, адже вона також змінює колір виділення тексту в усьому контейнері, але зробив як в макеті */
}

.about-card {
  margin-bottom: 16px;
}

.card-image-wrapper {
  position: relative;
  width: 100%;
}

.card-image-wrapper > img {
  width: 100%;
  vertical-align: middle;
}

.card-name {
  margin: 10px 0;
  font-size: 24px;
}

.card-job {
  margin: 15px 0;
  opacity: 0.6;
}

.card-description {
  margin: 15px 0;
}

.contact-btn {
  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: center;
  background-color: var(--sub-color-light);
}

.contact-section-input {
  display: block;
  width: 100%;
  padding: 8px;
  font: inherit;
  border: 1px solid var(--sub-color-dark);
}

.contact-section-input + .contact-section-input {
  margin: 16px 0;
}

.submit-btn {
  margin: 16px 0;
  padding: 8px 16px;
  font: inherit;
  text-transform: uppercase;
  text-wrap: nowrap;
  border: none;
  color: var(--main-color-light);
  background-color: var(--main-color-dark);
}

.logo:hover,
.links-group :hover,
.contact-btn:hover,
.submit-btn:hover {
  color: var(--main-color-dark);
  background-color: var(--sub-color-dark);
  cursor: pointer;
}

.map-image {
  width: 100%;
  padding: 0 16px;
  vertical-align: middle;
}

footer {
  width: 100%;
  padding: 16px 0;
  text-align: center;
  color: var(--main-color-light);
  background-color: var(--main-color-dark);
}

footer .powered-by {
  margin: 16px 0;
}

.footer-link {
  text-decoration: underline;
}

.footer-link:hover {
  color: var(--sub-color-medium);
}

@media screen and (max-width: 600px) {
  .links-group,
  .hero-heading > *:not(.outlined) {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  .project-cards-container,
  .about-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
